@import "../../partials/config";
.login-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .welcome{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    width: 250px;
    background: $-color-primary;
  }

  #SignIn:checked ~ section #SignInFormData {
    display: flex;
  }
  #SignIn:checked ~ section nav label:first-child {
    margin-bottom: -2px;
    border-bottom: 2px solid $-color-discount;
  }
  #SignUp:checked ~ section #SignUpFormData {
    display: flex;
  }

  #SignUp:checked ~ section nav label:last-child {
    margin-bottom: -2px;
    border-bottom: 2px solid $-color-discount;
  }
  section {
    width: 500px;
    // height: 500px;
    padding: 15px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 10px;
    background: $-color-primary;
    .logo {
      justify-content: center;
      display: flex;
      align-items: center;
      margin: 30px;
      img {
        width: 50%;
      }
    }
  }
  nav {
    width: 100%;

    margin: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    label {
      cursor: pointer;
      padding: 10px;
    }
  }
  form {
    padding-inline: 60px;
    display: none;
    flex-direction: column;
    p{
      text-align: center;
      font-size: 10px;
    }
    input {
      text-align: right;
    }
  }
  input,
  button {
    border-radius: 50px;
    padding: 15px 20px !important;
    margin-bottom: 15px;
    border: none;
    outline: none;
    font-size: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  button {
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-top: 5px;
  }
}
@media screen and (max-width: 600px) {
  .login-container {
    section {
      width: 80%;
      height: 73%;

      nav {
        font-size: 0.8em;
      }
      input,
      button {
        font-size: 8px;
        border-radius: 20px;
        padding: 10px 15px !important;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .login-container {
    section {
      width: 85%;
      height: 400px;
            // height: 50%;

      nav {
        font-size: 0.7em;
      }
      input,
      button {
        font-size: 8px;
        border-radius: 20px;
        padding: 8px 13px !important;
      }
    }
  }
}
